* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  user-select: none;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter-Regular, source-code-pro, -apple-system, BlinkMacSystemFont,
    Menlo, Monaco, Consolas, "Courier New", monospace;
  user-select: none;
  -webkit-user-drag: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,
li {
  border: 0;
  margin: 0;
  padding: 0;
}
